<h1>Listing calibers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Caliber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calibers.each do |caliber| %>
  <tr>
    <td><%= caliber.name %></td>
    <td><%= caliber.load_type.name %></td>
    <td><%= link_to 'Show', caliber %></td>
  </tr>
<% end %>
</table>

<br />

